<div [ngClass]="stackClassname">
  <app-button color="primary">Primary</app-button>
  <app-button color="accent">Accent</app-button>
  <app-button color="warn">Wanr</app-button>
  <app-button color="primary" [disabled]="true">Disabled</app-button>
</div>

<div [ngClass]="stackClassname">
  <app-button color="primary" size="xs">Extra Small</app-button>
  <app-button color="primary" size="sm">Small</app-button>
  <app-button color="primary" size="md">Medium</app-button>
  <app-button color="primary" size="lg">Large</app-button>
</div>
